body {
    margin-left: 10%;
    margin-right: 10%;
    font-family: sans-serif;
    background-color: lightgrey;
}

body, html {
    height: 100%;
}

header {
    margin: 10 10 10 10;
}

table {
    border: 1px solid black;
    padding: 1px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    background-color: linen;
}

th {
    background-color: darkgrey;
}

td:first-child {
    background-color: darkgrey;
    text-align: center;
}

th:first-child {
    background-color: grey;
}

.hero-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, -1px 1px 1px white, 1px -1px 1px white;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.hero-text > p {
    font-size: large;
}

.personal-info {
    margin: 5 0 0 10;
}

.favorite-novels {
    margin: 5 0 0 10;
}

.my-essay {
    width: 40%;
}

#name {
    text-align: center;
}

#myself {
    justify-content: left;
    box-shadow: 5px 5px 2px grey, -1px -1px grey;
}

#strong {
    font-weight: bold;
}

#bent {
    font-style: italic;
}

#the-haiku {
    font-style: italic;
    margin-left: 30px;
}
